@use '/src/styles/abstracts/variables.scss' as *;
.categoryCard {
    
    .category-btn {
        width: 160px;
        height: 44px;
        
        display: flex;
        align-items: center;
        justify-content: center;

        border: 0.1px solid grey;
        border-radius: 8px;

        
        
        color: $text-primary-color;
        background-color: $black;
        transition: all 0.3s ease;
        
    
    a{
        font-size: 1.6rem;
        text-decoration: none;
        font-weight: 600;
        padding: 16px;
        color: $text-primary-color;
    } 

    &:hover {
        transform: scale(1.03);
        cursor: pointer;
        background-color: $bg-secondary-color;
    }

    }
}