@use '../../../styles/abstracts/variables.scss' as *;

nav {
    width: 100%;
    height: 48px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr;

    background-color: $bg-secondary-color;
    color: white;
    
}

.navbar__left {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    margin: 0 12px;
    img{
        height: 44px;
    }
}

.navbar__center {
    background-color: red;
}

.navbar__right {
    display: flex;
    align-items: center;
    .navbar__links{
        display:flex;
        gap: 24px;
        margin: 0 12px;
        .navbar__item{
            list-style: none;
            .navbar__link{
                text-decoration: none;
                color: $text-primary-color;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}