html{
  box-sizing: border-box;
  font-size: 62.5%;
}


*, *::before, *::after {
  box-sizing: inherit;
}

*{
  margin:0;
  padding: 0;
}

body {
  background-color: #181818;
  min-height: 100vh;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;

  
}

