//Variables SCSS

//Background
$bg-primary-color: hsl(212, 32%, 8%);
$bg-secondary-color: rgba(47, 47, 47,0.9);

//Text
$text-primary-color: whitesmoke;

//Colors
$black:#181818;

//Hovers
$tec-color: #1B396A;