@use '../../../../styles/abstracts/variables' as *;

.bookdetail{
  min-height: 100dvh;
  color: $text-primary-color;
  display: grid;
  grid-template-rows: auto 1fr;

  .bookdetail__data{
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);


    .left__cover{
      display: flex;
      justify-content: center;
      align-items: start;

      .cover{
        width: 300px;
        aspect-ratio: 2/3;
        margin-top: 12px;
        
      }

      
    }

    .right__data{
      display: grid;
      align-items: start;
      grid-template-rows: auto repeat(2, 1fr);
      row-gap: 24px;

      .title-block {
        width: 60%;
        p{
            font-size: 1.8rem;
            font-style: italic;
        }
      }

    }
  }
}
