@use '/src/styles/abstracts/variables.scss' as *;
.category-filters__container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    column-gap: 12px;

    label {
        color: white;
    }
    select {
        color: white;
        background-color: $bg-secondary-color;
        border-radius: 4px;
    }
    
}