
.bookgrid-container {
  display: flex;
  justify-content: space-between;
  align-items: center;



  width: 100%;
  margin-top: 24px;
  
  .nav-btn {
    font-size: 4.8rem;
    color: whitesmoke;
    font-weight: bold;
    user-select: none;

    &:hover {
      cursor: pointer;
    }

    &[aria-disabled='true'] {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  /* Contenedor de tarjetas de libros */
  .books-wrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;   
    align-items: center;

    margin: 0 12px;
    
  }
}

